<style>
    .bmc-button img {
        height: 25px !important;
        box-shadow: none !important;
        border: none !important;
        margin-right: 5px;
        vertical-align: middle !important;
    }

    .bmc-button {
        height: 31px !important;
        text-decoration: none !important;
        display: inline-flex !important;
        color: #ffffff !important;
        background-color: #FF813F !important;
        border-radius: 5px !important;
        border: 1px solid transparent !important;
        padding: 2px 5px 2px 5px !important;
        font-size: 16px !important;
        letter-spacing: -0.08px !important;
        margin-top: 1.2rem !important;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        -o-transition: 0.3s all linear !important;
        -webkit-transition: 0.3s all linear !important;
        -moz-transition: 0.3s all linear !important;
        -ms-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
    }

    .bmc-button:hover,
    .bmc-button:active,
    .bmc-button:focus {
        opacity: 0.85 !important;
        color: #ffffff !important;
    }
</style>
<a class="bmc-button" target="_blank"
    href="https://www.buymeacoffee.com/0B7zhlQ2I"><img
        src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg"
        alt="Buy me a coffee">Buy me a
    coffee</a>