{{ $url := .Get 0 | htmlEscape }}
{{ $dataJ := printf "https://noembed.preslav.me/embed?url=%s" $url | getJSON }}
{{ $defaultThumb := "https://source.unsplash.com/200x200/?nature,water" }}


<style scoped>
  @media (max-width: 640px) {
    .embed-image {
      min-width: 100%;
    }
  }
</style>
<div
  style="display:flex; flex-wrap: wrap; border: 1px solid #d4d4d4; width:100%; margin-bottom: 1rem">

  {{ if $dataJ.thumbnail_url}}
  <div class="embed-image"
    style="flex:1; background: url({{ $dataJ.thumbnail_url }}); background-size:cover; background-position:center; min-height: 120px">
  </div>
  {{ else }}

  <div class="embed-image"
    style="flex: 1 1 0%; background: rgba(0, 0, 0, 0) linear-gradient(#eaeaea 0%, #73747b 100%) repeat scroll 0% 0%; min-height: 120px;">
  </div>

  {{end}}

  <div class="embed-content" style="flex:3; padding: 1rem;"><a
      href="{{ $url }}">
      <div class="title"
        style="font-weight: 800; margin-bottom: 1rem; font-size:120%">
        {{ $dataJ.title }}</div>
    </a>
    <div class="embed-description" style="margin-bottom:1rem; font-size:80%">
      {{ $dataJ.description }}</div>
    <div class="embed-meta" style="font-size:60%">
      <div style="float:left; max-width:80%"><a
          href="{{ $url }}">{{ $dataJ.provider_url }} | </a></div>
      <div style="float: right">Created with <a
          href="https://noembed.preslav.me/">NoEmbed</a></div>
    </div>
  </div>
</div>